################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library
/Logs
/UserSettings
/Temp
/ProjectSettings
/Packages
/obj/Debug
/Asteroids Revamped.sln
/Assembly-CSharp.csproj
/.vsconfig
/.vs/Asteroids Revamped/v16
